﻿@model (string inputArray, string output)

@{
    ViewBag.Title = "Array Input Page";
}

<h2>Enter an Integer Array</h2>

@using (Html.BeginForm("ProcessArray", "RecruTask", FormMethod.Post))
{
    <div>
        @Html.Label("inputArray", "Enter an integer array:")
        @Html.TextBox("inputArray", Model.inputArray, new { value="[]", placeholder = "[x,y,z]", size = 30 })
    </div>
    <div>
        <input type="submit" value="Process" />
    </div>
}

@if (!string.IsNullOrEmpty(Model.inputArray))
{
    <h3>Entered Array:</h3>
    <p>@Model.inputArray</p>
    <h3>Result:</h3>
    <p>@Model.output</p>
    <p></p>
}